<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django bookmark List</title>
  </head>
  <body>
    <div id="content">
      <h1>Bookmark List</h1>
      <ul>
        {% for bookmark in object_list %}
        <li><a href="{% url 'detail' bookmark.id %}">{{ bookmark }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
<!--
{ % url %} 태그는 url 패턴에서 url문자열을 추출하는 역할을 한다.
bookmark.id 는 detail url에서 pk파라미터 위치로 자리한다.

{{bookmark}} 는 레코드 하나의 객체를 의미한다.
템플릿에서 객체를 명시한다면 장고는 __str__() 메소드를 호출하여 그 결과를 출력한다.
models.py에 retrun 값으로 self.title 을 명시하였고 결국 title이 출력된다.
-->
