{% extends 'base.html' %}

{% block title %}post_archive.html{% endblock %}

{% block content %}
<div id="content">
    <h1>Post Archives until {% now "N d, Y" %}</h1> <!-- now 현재시간 출력 -->

    <ul>
      {% for date in date_list %} <!-- DateQuerySet 객체 리스트를 담고 있는 date_list  -->
      <li style="display: inline;">
        <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">Year-{{ date|date:"Y" }}</a>
      </li>
      {% endfor %}
    </ul>
    <br>

    <div>
      <ul>
        {% for post in object_list %} <!-- 뷰에서 넘겨준 객체 리스트가 잇음 object_list 혹은 latest 으로 접근 -->
        <li>{{ post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
          <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
        </li>
        {% endfor %}
      </ul>
    </div>

</div>
{% endblock %}
